<!-- home component html -->
<section class="skills_section bg-dark">
    <div class="container pt-5">
        <h1 class="text-white text-center">Skills</h1>
        <div class="lorem text-white text-center ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque provident nobis quasi,
            sapiente dolor molestiae. Esse, eaque voluptas consequatur quasi perferendis deleniti facere saepe veritatis
            aut reprehenderit, aliquam cumque corporis.
        </div>
            <div class="contnet_skills d-flex justify-content-center gap-5 pt-5 pb-3">
                <div class="left">
                    <div class="text-center border-bottom border-danger pb-3 mb-3">My Focus</div>
                    <div class="mb-3">{{skills.tacks.one}}</div>
                    <div class="mb-3">{{skills.tacks.two}}</div>
                    <div class="mb-3">{{skills.tacks.three}}</div>
                    <div class="mb-3">{{skills.tacks.four}}</div>
                </div>

                <div class="right flex-grow-1">
                  <div class="skill-1 bg-primary d-flex mb-2">
                      <div class="bg-secondary p-2 pe-4 ps-4"> {{skills.technololgies.one}}</div>
                      <div class="w-100 bg-secondary-subtle d-inline"></div>
                  </div>
                  <div class="skill-1 bg-primary d-flex mb-2">
                    <div class="bg-secondary p-2 pe-4 ps-4"> {{skills.technololgies.two}}</div>
                    <div class="w-100 bg-secondary-subtle d-inline"></div>
                </div>
                <div class="skill-1 bg-primary d-flex mb-2">
                    <div class="bg-secondary p-2 pe-4 ps-4"> {{skills.technololgies.three}}</div>
                    <div class="w-100 bg-secondary-subtle d-inline"></div>
                </div>  


                <div class="skill-1  bg-light d-flex mb-2 ">
                    <div class="bg-secondary "> {{skills.technololgies.four}}</div>
                    <div class=" four bg-secondary-subtle d-inline "></div>
                </div>  


                <div class="skill-1  bg-light d-flex mb-2 ">
                    <div class="bg-secondary "> {{skills.technololgies.five}}</div>
                    <div class=" five bg-secondary-subtle d-inline "></div>
                </div> 

                <div class="skill-1  bg-light d-flex mb-2 ">
                    <div class="bg-secondary "> {{skills.technololgies.six}}</div>
                    <div class=" six bg-secondary-subtle d-inline "></div>
                </div> 

                  <div class="skill-1  bg-light d-flex mb-2 ">
                    <div class="bg-secondary "> {{skills.technololgies.seven}}</div>
                    <div class=" seven bg-secondary-subtle d-inline "></div>
                </div> 

                <div class="skill-1 bg-light d-flex mb-2">
                    <div class="bg-secondary p-2 pe-4 ps-4"> {{skills.technololgies.eight}}</div>
                    <div class="eight bg-secondary-subtle d-inline p-0"></div>
                </div>
                


            </div>


</div>
    </div>
</section>