<!-- home component html -->
<section class="portfolio">
    <h1 class=" portfolio_heading m-auto mt-5 ">Portfolio</h1>
    <div class="container1 pt-5">
        <div class="portfolio_boxs d-grid gap-4">
            <div class="box1 bg-danger-subtle">
                <div class="image">
                    <img src="../../assets/interaction.jpg" width="100%" height="200px" alt="" class="p-2">
                </div>
                <div class="p-3 pb-5 text-center tittle">Interaction Design</div>
            </div>

            <div class="box1 bg-secondary">
                <div class="image">
                    <img src="../../assets/mobile.jpg " width="100%" height="200px" alt="" class="p-2">
                </div>
                <div class="p-3 pb-5 text-center tittle">Mobile Design</div>
            </div>
            <div class="box1 bg-dark-subtle">
                <div class="image">
                    <img src="../../assets/web1.avif " width="100%" height="200px" alt="" class="p-2">
                </div>
                <div class="p-3 pb-5 text-center tittle">Web Design</div>
            </div>
            <div class="box1 bg-dark">
                <div class="image">
                    <img src="../../assets/web2.jpg " width="100%" height="200px" alt="" class="p-2">
                </div>
                <div class="p-3 pb-5 text-white text-center tittle">Graphic Design</div>
            </div>
            <div class="box1 bg-warning">
                <div class="image">
                    <img src="../../assets/product.png " width="100%" height="200px" alt="" class="p-2">
                </div>
                <div class="p-3 pb-5 text-center tittle">Product Design</div>
            </div>
            <div class="box1  bg-dark"> 
                <div class="image">
                    <img src="../../assets/print.avif " width="100%" height="200px" alt="" class="p-2">
                </div>
                <div class="p-3 pb-5 text-white text-center tittle">Print Design</div>
            </div>

        </div>
     


    </div>
</section>
