<!-- home component html -->
    <section class="home_section">
        <div class="container">
            <h1 class="text-white">{{homeSection.name}}</h1>
            <h1 class="text-white fs-3">{{homeSection.postion}}</h1>
            <!-- <button  class="btn btn-dark border border-light bg-transparent mt-3"><a href="#footer"> {{homeSection.contact}} </a></button> -->
            <button  class="btn btn-outline-dark mt-3"><a href="#footer"> {{homeSection.contact}} </a></button>

        </div>
    </section>
 